body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3b3a3a;
}

iframe {
  width: 70%;
  min-height: 90vh;
}
h2 {
  color: #fbf6f6;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  iframe {
    width: 100%;
    min-height: 70vh;
  }
}
